.button {
  background: lightcoral;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px
}

.wrapper > div {
  background: azure;
  padding: 20px;
  color: lightcoral;
  border-radius: 10px;
}