.button {
  background-color: lightcoral;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
}

.wrapper > div {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.yellow {
  background-color: yellow;
}